@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Syne:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #010208;
  color: #ffffff;
  font-family: 'Syne', sans-serif;
}
h1, h2, h3, h4, h5, h6,p {
  font-family: 'Poppins', sans-serif;
}
.syne-text{
  font-family: Syne !important;
}
